:root {
    --main-bg-color: rgb(255,255,255);
    --out-bg-color: rgb(255,255,255);
    --dark-color: rgb(229,229,229);
    --light-color: rgb(251,251,251);
    --highlight-dark-color: rgb(244,244,153);
    --highlight-light-color: rgb(249,249,204);
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    word-wrap: break-word;
    background-color: var(--main-bg-color);
}
thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
.description {
    background-color: var(--dark-color);
    text-align: right !important;
    font-weight: normal;
}
thead tr {
    background-color: var(--light-color);
    box-shadow: 0 0 0 1px var(--dark-color);
    margin-bottom: 1px;
}
tbody tr {
    background-color: var(--main-bg-color);
}
tr {
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
}
th, td {
    padding: 4px;
    border: 1px solid var(--dark-color);
    vertical-align: top;
    min-width: 50px;
    max-width: 600px;
    font-weight: normal;
}
th.tside, td.tside {
    background-color: var(--light-color);
    text-align: left;
}
th:not(.tside), td:not(.tside) {
    text-align: right;
}

/* table hove highlighting */
.highlight-row {
    background-color: var(--highlight-light-color) !important;
}
.highlight-col {
    background-color: var(--highlight-light-color) !important;
}
.highlight-cell {
    background-color: var(--highlight-dark-color) !important;
}

/* description text */
.description-text{
    display: inline-block;
}

/* data download button */
.buttonBox{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 4px 4px -4px 14px;
    cursor: pointer;
}
.gg-software-download {
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 12px;
    transform: translateY(-50%);
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 4.5px;
    border: 1.5px solid;
    border-top: 0;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    margin-top: 6px;
    margin-left: auto;
}
.gg-software-download::after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 1.5px solid;
    border-bottom: 1.5px solid;
    transform: rotate(-45deg);
    left: 1.5px;
    bottom: 3px
}
.gg-software-download::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 2.25px;
    width: 1.5px;
    height: 7.5px;
    background: currentColor;
    left: 3.75px;
    bottom: 3.75px
}

/* setting background color to page color so that the edge appears clear */
#fullscreen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--out-bg-color);
    z-index: -1;
    pointer-events: none;
}
#container, .chart-container, svg, canvas {
    position: relative;
    z-index: 1;
}