:root {
    --main-bg-color: rgb(255,255,255);
    --dark-color: rgb(229,229,229);
    --light-color: rgb(243,243,243);
    --highlight-dark-color: rgb(244,244,153);
    --highlight-light-color: rgb(249,249,204);
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    word-wrap: break-word;
    background-color: var(--main-bg-color);
}
thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
.description {
    background-color: var(--dark-color);
    text-align: right !important;
    font-weight: normal;
}
thead tr {
    background-color: var(--light-color);
    box-shadow: 0 0 0 1px var(--dark-color);
    margin-bottom: 1px;
}
tbody tr {
    background-color: var(--main-bg-color);
}
tr {
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
}
th, td {
    padding: 4px;
    border: 1px solid var(--dark-color);
    vertical-align: top;
    min-width: 50px;
    max-width: 600px;
    font-weight: normal;
}
th.tside, td.tside {
    background-color: var(--light-color);
    text-align: left;
}
th:not(.tside), td:not(.tside) {
    text-align: right;
}

.highlight-row {
    background-color: var(--highlight-light-color) !important;
}
.highlight-col {
    background-color: var(--highlight-light-color) !important;
}
.highlight-cell {
    background-color: var(--highlight-dark-color) !important;
}
